@import url('https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: black;
}

ul,
ol,
li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}

html,
body {
    height: 100%;
    font-family: 'Poppins', sans-serif;
    background-color: #FFFFFF;
    scroll-behavior: smooth;
}


.container {
    width: 100%;
}

nav {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #123354;
    height: 70px;
    position: fixed;
}

.blockNav {
    width: 1000px;
    padding: 0px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.blockNav a {
    font-size: 40px;
    color: #FFFFFF;
    font-family: "Akaya Kanadaka", system-ui;
    font-weight: 900;
    font-style: normal;
}

.navBtn {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.navBtn a {
    color: #FFFFFF;
    font-size: 20px;
    font-family: "Akaya Kanadaka", system-ui;
    font-weight: 900;
    font-style: normal;
}

#popupOpen {
    display: none;
    background-color: #123354;
    color: #FFFFFF;
    cursor: pointer;
}

.popup {
    display: none;
    position: fixed;
    z-index: 100;
    width: 100%;
    background-color: #FFFFFF;
    margin-top: 70px;
    color: #FFFFFF;
}

.popup.show {
    display: block;
}

.popup a {
    width: 95%;
    height: 50px;
    background-color: #123354;
    color: #FFFFFF;
    border-radius: 10px;
    justify-content: center;
    padding: 10px;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    font-family: "Akaya Kanadaka", system-ui;
    font-weight: 900;
    margin-top: 10px;
    font-style: normal;
    margin-left: 2.5%;
}

.navBtn a:hover,
.blockNav a:hover {
    color: #CCCCCC;
}

.secHome {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#skills, #projects, #contacts {
    height: 60px;
    width: 100%;
    background: transparent;
}

.blockhome {
    width: 1000px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 120px 0px 60px 0px;
    gap: 20px;
}

.blockhome h1 {
    font-size: 60px;
    color: #123354;
    font-family: "Akaya Kanadaka", system-ui;
    font-weight: 900;
    font-style: normal;
}

.anonimtext {
    font-size: 40px;
    color: #123354;
    font-family: "Akaya Kanadaka", system-ui;
    font-weight: 900;
    font-style: normal;
}

.information {
    opacity: 0.8;
    width: 55%;
    font-size: 20px;
    color: #123354;
    font-family: "Akaya Kanadaka", system-ui;
    font-weight: 400;
    font-style: normal;
}

.secskills {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
}

.blockskills {
    width: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px 0px;
    gap: 20px;
}

.blockfront,
.blockback {
    width: 80%;
    height: 100px;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    background-color: #F7F7F7;
    border-radius: 10px;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    padding: 0px 20px;
}

.blockfront p,
.blockback p {
    display: flex;
    flex-direction: column;
    color: #123354;
    font-family: "Akaya Kanadaka", system-ui;
    font-weight: 400;
    font-style: normal;
}

.blockskills h1 {
    font-size: 40px;
    color: #123354;
    font-family: "Akaya Kanadaka", system-ui;
    font-weight: 900;
    font-style: normal;
}

.blockskills h2 {
    font-size: 20px;
    color: #123354;
    font-family: "Akaya Kanadaka", system-ui;
    font-weight: 900;
    font-style: normal;
}

.block {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.secprojects {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.blockprojects {
    width: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px 0px;
    gap: 20px;
}

.blockprojects h1 {
    font-size: 40px;
    color: #123354;
    font-family: "Akaya Kanadaka", system-ui;
    font-weight: 900;
    font-style: normal;
}


.projectsgrid {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
}

.oneproject {
    width: 313px;
    height: 220px;
    display: flex;
    background-color: #F1F1F1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.oneproject p {
    font-size: 20px;
    color: #123354;
    font-family: "Akaya Kanadaka", system-ui;
    font-weight: 400;
    font-style: normal;
}

.oneproject a {
    font-size: 20px;
    color: #123354;
    font-family: "Akaya Kanadaka", system-ui;
    font-weight: 400;
    font-style: normal;
    opacity: 0.8;
    z-index: 1;
}

.oneproject a:hover {
    opacity: 1;
}

.oneproject img {
    width: 275px;
    height: 137px;
    border-radius: 10px;
    border: 1px #123354 solid;
}

.seccontact {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
}

.blockcontact {
    width: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px 0px;
    gap: 20px;
}

.blockcontact h1 {
    font-size: 40px;
    color: #123354;
    font-family: "Akaya Kanadaka", system-ui;
    font-weight: 900;
    font-style: normal;
}

.contactgrid {
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
}

.onecontact {
    width: 313px;
    height: 150px;
    display: flex;
    background-color: #F1F1F1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    gap: 5px;
}

.svgs {
    width: 24px;
    height: 24px;
}

.contactbody,
.onecontact a {
    color: #123354;
    font-family: "Akaya Kanadaka", system-ui;
    font-weight: 400;
    font-style: normal;
    opacity: 0.8;
    z-index: 1;
}

.onecontact a:hover {
    opacity: 1;
}

.contacthead {
    color: #123354;
    font-family: "Akaya Kanadaka", system-ui;
    font-weight: 900;
    font-style: normal;
}

footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #123354;
}

.blockfooter {
    width: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px 0px;
    gap: 20px;
}

.blockfooter h1 {
    font-size: 40px;
    color: #FFFFFF;
    font-family: "Akaya Kanadaka", system-ui;
    font-weight: 900;
    font-style: normal;
}

.row {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.row a {
    color: #FFFFFF;
    font-family: "Akaya Kanadaka", system-ui;
    font-weight: 900;
    font-style: normal;
}

.row a:hover {
    color: #CCCCCC;
}

.rowsocial {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.svgsfooter {
    width: 24px;
    height: 24px;
}

.svgsfooter:hover {
    color: #CCCCCC;
}

@media screen and (max-width:1440px) {}

@media screen and (max-width:1280px) {}

@media screen and (max-width:1024px) {}

@media screen and (max-width:1000px) {

    .blockhome,
    blockskills,
    .blockprojects,
    .blockcontact {
        width: 100%;
    }

    .projectsgrid {
        grid-template-columns: auto auto;
    }
}

@media screen and (max-width:768px) {

    .blockback,
    .blockfront {
        width: 90%;
    }
}

@media screen and (max-width:670px) {
    .oneproject {
        width: 263px;
        height: 190px;
    }

    .oneproject img {
        width: 223px;
        height: 107px;
    }

    .onecontact {
        width: 263px;
        height: 120px;
    }
}

@media screen and (max-width:560px) {
    .contactgrid {
        grid-template-columns: auto;
    }

    .oneproject {
        width: 233px;
        height: 170px;
    }

    .oneproject img {
        width: 193px;
        height: 97px;
    }

    .information {
        width: 85%;
    }
}

@media screen and (max-width:500px) {

    .blockfront,
    .blockback {
        grid-template-columns: auto auto auto;
        gap: 30px 0px;
        height: 150px;
    }

    .projectsgrid {
        grid-template-columns: auto;
    }

    .oneproject {
        width: 313px;
        height: 220px;
    }

    .oneproject img {
        width: 275px;
        height: 137px;
    }

    .navBtn {
        display: none;
    }

    #popupOpen {
        display: block;
    }
    .information, .oneproject a, .contactbody, .onecontact a{
        opacity: 1;
    }
}

@media screen and (max-width:425px) {}

@media screen and (max-width:375px) {

    .blockfront,
    .blockback {
        grid-template-columns: auto auto;
        height: 200px;
    }
}

@media screen and (max-width:325px) {}